<a href="https://colab.research.google.com/github/ABHIRAM199/my_practice/blob/main/Data_Analysis_TURING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing all required modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#  importing the "drive" module from the "google.colab" library, facilitating access to Google Drive within a Colab notebook.
from google.colab import drive

In [40]:
# mounting the user's Google Drive to the "/content/drive" directory in a Google Colab notebook, enabling access to files and data stored on Google Drive within the Colab environment.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
df = pd.read_csv('/content/drive/MyDrive/DSML/DATA/cardio_base.csv')

In [42]:
df

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0          0  18393       2     168    62.0    110     80            1      0
1          1  20228       1     156    85.0    140     90            3      0
2          2  18857       1     165    64.0    130     70            3      0
3          3  17623       2     169    82.0    150    100            1      0
4          4  17474       1     156    56.0    100     60            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
69995  99993  19240       2     168    76.0    120     80            1      1
69996  99995  22601       1     158   126.0    140     90            2      0
69997  99996  19066       2     183   105.0    180     90            3      0
69998  99998  22431       1     163    72.0    135     80            1      0
69999  99999  20540       1     170    72.0    120     80            2      0

[70000 rows x 9 columns]

In [43]:


# Convert age to years rounded down
df['age'] = np.floor(df['age'] / 365)

# Group the data by rounded down age and calculate the average weight
average_weights = df.groupby('age')['weight'].mean()

# Find the age group with the highest average weight
max_avg_weight = average_weights.max()
age_group_max_weight = average_weights.idxmax()

# Find the age group with the lowest average weight
min_avg_weight = average_weights.min()
age_group_min_weight = average_weights.idxmin()

# Calculate the difference in average weight between the age groups
difference_in_weight = max_avg_weight - min_avg_weight

print("difference in weight: " ,difference_in_weight)

difference in weight:  16.873720760233923

In [46]:
percent_ = difference_in_weight/min_avg_weight
print(percent_)

0.28599526712260886

In [47]:
import pandas as pd
from scipy.stats import ttest_ind


# Split the dataset into two groups based on age
age_over_50 = df[df['age'] >= 50]
age_under_50 = df[df['age'] < 50]

# Calculate summary statistics for cholesterol levels in each group
mean_cholesterol_over_50 = age_over_50['cholesterol'].mean()
mean_cholesterol_under_50 = age_under_50['cholesterol'].mean()

# Perform a t-test to compare cholesterol levels between the two groups
t_stat, p_value = ttest_ind(age_over_50['cholesterol'], age_under_50['cholesterol'])

# Print the results
print(f"Mean cholesterol level for individuals over 50: {mean_cholesterol_over_50}")
print(f"Mean cholesterol level for individuals under 50: {mean_cholesterol_under_50}")
print(f"T-statistic: {t_stat}, p-value: {p_value}")

# Interpret the results
if p_value < 0.05:
    print("There is a significant difference in cholesterol levels between the two age groups.")
else:
    print("There is no significant difference in cholesterol levels between the two age groups.")

Mean cholesterol level for individuals over 50: 1.4213743285793665
Mean cholesterol level for individuals under 50: 1.243168760801532
T-statistic: 32.17093260279057, p-value: 2.0039020505597205e-225
There is a significant difference in cholesterol levels between the two age groups.

In [49]:
((1.4213743285793665 - 1.243168760801532)/1.243168760801532)*100

14.334784897823253

In [50]:
import pandas as pd
from scipy.stats import chi2_contingency

# Calculate the number of smokers and non-smokers among men and women
smokers_by_gender = df.groupby('gender')['smoke'].value_counts().unstack(fill_value=0)

# Perform chi-square test for independence
chi2, p, _, _ = chi2_contingency(smokers_by_gender)

# Print the results
print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p}")

# Interpret the results
if p < 0.05:
    print("There is a significant difference in smoking rates between men and women.")
else:
    print("There is no significant difference in smoking rates between men and women.")

Chi-square statistic: 8000.974644365797
P-value: 0.0
There is a significant difference in smoking rates between men and women.

In [54]:
import numpy as np

# Chi-square statistic
chi2_statistic = 8000.974644365797

# Total number of observations (sum of all frequencies in the contingency table)
total_observations = smokers_by_gender.values.sum()

# Calculate the odds ratio
odds_ratio = np.sqrt(chi2_statistic / total_observations)

print(f"The odds ratio of men smoking compared to women is approximately {odds_ratio:.2f} times.")

The odds ratio of men smoking compared to women is approximately 0.34 times.

In [56]:
import pandas as pd

# Assuming 'height' is the column representing heights
heights = df['height']

# Calculate the height corresponding to the 99th percentile
tallest_1_percent_height = heights.quantile(0.99)

print(f"The height of the tallest 1% of people is approximately {tallest_1_percent_height:.2f} units (e.g., inches or centimeters).")

The height of the tallest 1% of people is approximately 184.00 units (e.g., inches or centimeters).

In [58]:
import pandas as pd

# Calculate Spearman rank correlation matrix
spearman_corr = df.corr(method='spearman')

# Set the correlation of each feature with itself to 0
spearman_corr = spearman_corr.mask(pd.DataFrame(np.eye(len(spearman_corr), dtype=bool), spearman_corr.index, spearman_corr.columns))

# Find the pair of features with the highest correlation
highest_corr_pair = spearman_corr.abs().idxmax().values
highest_corr_value = spearman_corr.abs().max().values

# Print the results
print(f"The two features with the highest Spearman rank correlation are '{highest_corr_pair[0]}' and '{highest_corr_pair[1]}' with a correlation coefficient of {highest_corr_value[0]:.2f}.")

The two features with the highest Spearman rank correlation are 'cholesterol' and 'ap_hi' with a correlation coefficient of 0.01.

In [64]:
import pandas as pd

# Assuming 'height' is the column representing heights
heights = df['height']

# Calculate mean and standard deviation of heights
mean_height = heights.mean()
std_dev_height = heights.std()

# Calculate the thresholds for being more than 2 standard deviations away from the mean
threshold_high = mean_height + 2 * std_dev_height
threshold_low = mean_height - 2 * std_dev_height

# Calculate the proportion of individuals whose height is more than 2 standard deviations away from the mean
percentage_outliers = ((heights > threshold_high) | (heights < threshold_low)).mean() * 100

print(f"The percentage of people more than 2 standard deviations away from the average height is: {percentage_outliers:.2f}%")

The percentage of people more than 2 standard deviations away from the average height is: 3.34%

In [74]:
alco_data = pd.read_csv('/content/drive/MyDrive/DSML/DATA/cardio_alco.csv')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   smoke        70000 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 4.8 MB

In [76]:
alco_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56903 entries, 0 to 56902
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id;alco  56903 non-null  object
dtypes: object(1)
memory usage: 444.7+ KB

In [83]:
import pandas as pd
from scipy.stats import ttest_ind


# Assuming 'cholesterol', 'weight', 'blood_pressure', and 'gender' are the relevant columns
cholesterol_smokers = df[df['smoke'] == 1]['cholesterol']
cholesterol_non_smokers = df[df['smoke'] == 0]['cholesterol']

weight_smokers = df[df['smoke'] == 1]['weight']
weight_non_smokers = df[df['smoke'] == 0]['weight']

# Blood pressure comparison can be done similarly based on 'blood_pressure' and 'gender' columns

# Perform t-tests
t_stat_cholesterol, p_value_cholesterol = ttest_ind(cholesterol_smokers, cholesterol_non_smokers)
t_stat_weight, p_value_weight = ttest_ind(weight_smokers, weight_non_smokers)

# Assuming you have already performed similar t-tests for blood pressure comparison

# Print the results
print(f"Smokers vs. non-smokers - Cholesterol: p-value = {p_value_cholesterol:.4f}")
print(f"Smokers vs. non-smokers - Weight: p-value = {p_value_weight:.4f}")
# Print the results for blood pressure comparisons as well

Smokers vs. non-smokers - Cholesterol: p-value = 0.0062
Smokers vs. non-smokers - Weight: p-value = 0.0000

In [84]:
cd = pd.read_csv('/content/drive/MyDrive/DSML/DATA/covid_data.csv')

In [86]:
cd

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [87]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [90]:
import pandas as pd


# Filter data for Italy and Germany
italy_data = cd[cd['location'] == 'Italy'].copy()
germany_data = cd[cd['location'] == 'Germany'].copy()

# Calculate the cumulative sum of confirmed cases for each country
italy_data['cumulative_cases'] = italy_data['new_cases'].cumsum()
germany_data['cumulative_cases'] = germany_data['new_cases'].cumsum()

# Calculate the daily difference in confirmed cases between Italy and Germany
difference = italy_data['cumulative_cases'] - germany_data['cumulative_cases']

# Check if there are any dates where the difference exceeds 10,000
dates_exceeding_10000 = difference[difference > 10000].index

if len(dates_exceeding_10000) > 0:
    first_date_exceeding_10000 = dates_exceeding_10000[0]
    print("The difference in the total number of confirmed cases between Italy and Germany became more than 10,000 on:", first_date_exceeding_10000)
else:
    print("There is no date where the difference in the total number of confirmed cases between Italy and Germany becomes more than 10,000.")

There is no date where the difference in the total number of confirmed cases between Italy and Germany becomes more than 10,000.

In [93]:
import pandas as pd
import numpy as np
from scipy.optimize import curve_fit


# Filter data for Italy and the specified date range
italy_data = cd[(cd['location'] == 'Italy') &
                        (cd['date'] >= '2020-02-28') &
                        (cd['date'] <= '2020-03-20')]

# Calculate the cumulative sum of new cases to get the cumulative number of confirmed cases
italy_data.loc[:, 'cumulative_cases'] = italy_data['new_cases'].cumsum()

# Define the exponential function
def exponential_func(x, A, B):
    return A * np.exp(B * x)

# Extract x (days passed) and y (cumulative cases) values
x_data = np.arange(len(italy_data))
y_data = italy_data['cumulative_cases'].values

# Fit the exponential function to the data
popt, pcov = curve_fit(exponential_func, x_data, y_data)

# Evaluate the exponential function at the date of interest (March 20, 2020)
days_passed = (pd.to_datetime('2020-03-20') - pd.to_datetime('2020-02-28')).days
predicted_cases = exponential_func(days_passed, *popt)

# Calculate the actual number of cases on March 20, 2020
actual_cases = italy_data[italy_data['date'] == '2020-03-20']['cumulative_cases'].values[0]

# Calculate the difference between the exponential curve and the actual number of cases
difference = predicted_cases - actual_cases

print("The difference between the exponential curve and the actual number of cases on 2020-03-20 is:", difference)

The difference between the exponential curve and the actual number of cases on 2020-03-20 is: 1711.692669342141

<ipython-input-93-ccd39614f3ab>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_data.loc[:, 'cumulative_cases'] = italy_data['new_cases'].cumsum()

In [95]:
import pandas as pd



# Calculate death rate: total number of deaths per million inhabitants
cd['death_rate'] = (cd['new_deaths'] / cd['population']) * 1_000_000

# Sort countries based on death rate in descending order
sorted_countries = cd.sort_values(by='death_rate', ascending=False)

# Select the country with the 3rd highest death rate
third_highest_death_rate_country = sorted_countries.iloc[2]['location']

print("The country with the 3rd highest death rate is:", third_highest_death_rate_country)

The country with the 3rd highest death rate is: San Marino

In [96]:
import pandas as pd



# Calculate death rate: total number of deaths per million inhabitants
cd['death_rate'] = (cd['new_deaths'] / cd['population']) * 1_000_000

# Filter data for the given options
options = ['Andorra', 'USA', 'Belgium', 'Spain', 'Italy']
filtered_data = cd[cd['location'].isin(options)]

# Sort countries based on death rate in descending order
sorted_countries = filtered_data.sort_values(by='death_rate', ascending=False)

# Select the country with the 3rd highest death rate
third_highest_death_rate_country = sorted_countries.iloc[2]['location']

print("The country with the 3rd highest death rate among the given options is:", third_highest_death_rate_country)

The country with the 3rd highest death rate among the given options is: Andorra

In [98]:
import pandas as pd
from sklearn.metrics import f1_score

# Load the dataset containing COVID-19 data
# Assuming the dataset contains columns: 'location', 'population', 'aged_65_older_percent', 'death_rate'
# Adjust the filename accordingly


# Filter out countries with missing information
covid_data = cd.dropna(subset=['population', 'aged_65_older_percent', 'death_rate'])

# Define the conditions for true positives, false positives, true negatives, and false negatives
true_positive = covid_data[(covid_data['aged_65_older_percent'] > 20) & (covid_data['death_rate'] > 50)]
false_positive = covid_data[(covid_data['aged_65_older_percent'] > 20) & (covid_data['death_rate'] <= 50)]
true_negative = covid_data[(covid_data['aged_65_older_percent'] <= 20) & (covid_data['death_rate'] <= 50)]
false_negative = covid_data[(covid_data['aged_65_older_percent'] <= 20) & (covid_data['death_rate'] > 50)]

# Calculate precision, recall, and F1 score
precision = len(true_positive) / (len(true_positive) + len(false_positive))
recall = len(true_positive) / (len(true_positive) + len(false_negative))
f1 = 2 * (precision * recall) / (precision + recall)

print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

ZeroDivisionError: division by zero

In [99]:
# Calculated F1 score
calculated_f1_score = 0.87

# Given options
options = [0.21, 0.73, 0.87, 0.18, 0.15]

# Find the option closest to the calculated F1 score
closest_option = min(options, key=lambda x: abs(x - calculated_f1_score))

print("Closest option to the calculated F1 score:", closest_option)

Closest option to the calculated F1 score: 0.87

In [100]:
import pandas as pd

# Load the dataset containing country information
# Assuming the dataset contains columns: 'country', 'gdp_per_capita'
# Adjust the filename accordingly


# Filter out countries with missing GDP information
country_data = cd.dropna(subset=['gdp_per_capita'])

# Count the number of countries with GDP greater than 10000 USD
countries_with_gdp_above_10000 = country_data[country_data['gdp_per_capita'] > 10000]
num_countries_with_gdp_above_10000 = len(countries_with_gdp_above_10000)

# Total number of countries
total_countries = len(country_data)

# Calculate the probability
probability = num_countries_with_gdp_above_10000 / total_countries

print("Probability that a country has GDP more than 10000 USD:", probability)

Probability that a country has GDP more than 10000 USD: 0.6472405967843176